<!-- 
    File name: footer.ejs
    Author: Matthew Walichnowsky
    Website name: walichnowsky.com
    File description: This page contains my view footer elements.
-->

        <footer class="navbar navbar-fixed-bottom" style="background-color:black ">
            <div class="container">
                <div>
                    <p style="color:white">&copy; 2016 | Matthew Walichnowsky | Assignment 1 - Portfolio</p>
                </div>
            </div>
        </footer>
    </body>
</html>