<!-- 
    File name: about.ejs
    Author: Matthew Walichnowsky
    Website name: walichnowsky.com
    File description: This page contains my view elements for my about page.
-->

<% include partials/header.ejs %>

<div class="col-lg-12 text-center"> 
	<h3><%= title %></h3>
	<p><%= message %></p>
</div>

<div class="container">

<div class="row">
	<div class="col-md-12">
		<h2 class="word-rotator-title">
			The New Way to 
			<strong>
				<span class="word-rotate" data-plugin-options='{"delay": 2000}'>
					<span class="word-rotate-items">
						<span>success.</span>
						<span>advancement.</span>
						<span>progression.</span>
					</span>
				</span>
			</strong>
		</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-10">
		<p class="lead">
			Tired of working with people who don't care? Want to work with someone who genuinely cares about his work both front-end and back? Do it right the first time and get in touch with me using the button to the right. <!-- Sorry Rich, I never said I was fast -->
		</p>
		<p>
			Unlike others, I enjoy taking the time for the little things. Though at the expense of my time, when it is all done and wrapped up, it is worth it.  
	</div>
	<div class="col-md-2">
		<a href="mailto:matt@tmgs.ca?Subject=WorkForce Box" class="btn btn-lg btn-primary mt-xl">Email Me!</a>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<hr class="tall">
	</div>
</div>

<div class="row">
	<div class="col-md-8">
		<h3 class="heading-primary"><strong>Who</strong> I am</h3>
		<p>
			I am not one for talking about myself, so instead maybe I will just state the facts and go from there. I am a student and an entrepreneur. I am on my way to becoming an official Computer Programmer. Last year, with help from the college, I had launched my business and was successful over the summer. I know spend all my time doing well in school and serving my clients.. 
		</p>
		<p>
			I have extensive experience in fields other than my own. I can nearly fix any problem on a vehicle, computer or even a furnace. Jack of all trades and nearly master of none, I have decided to specialize in my favourite fields and leave some as hobbies. My plans for the future require that I make some decent money and without schooling, I had a hard time finding work that paid well. Therefore, here I am.
		</p>
	</div>
	<div class="col-md-4">
		<div class="featured-box featured-box-primary">
			<div class="box-content">
				<h4 class="text-uppercase">Activities I enjoy</h4>
				<ul class="thumbnail-gallery" data-plugin-lightbox data-plugin-options='{"delegate": "a", "type": "image", "gallery": {"enabled": true}}'>
					<li>
						<p>
							<strong>Camping</strong> | I enjoy going with my girlfriend and my dog camping. I generally go to McCrae Lake.
						</p>
					</li>
					<li>
						<p>
							<strong>Computer Networks</strong> | I currently have my own server rack which I work on often, improving and expanding.
						</p>
					</li>
					<li>
						<p>
							<strong>Arduino controlled Aquaponics</strong> | I loved building my <a href="http://arduinoponics.ca/">arduinoponics</a> system. My first protostype one "Crowd Favourite" at the Showcase 2015. I hope to gain more time to finish building our first prototype (subject to be moved to my office soon).
						</p>
					</li>
					<li>
						<p>
							<strong>Paintball</strong> | What can I say, it is a great game. I would go all the time if I could afford it. My favourite field is still <a href="http://www.wasagapaintball.com/">Wasaga Paintball</a> in Wasaga Beach.
						</p>
					</li>
					<li>
						<p>
							<strong>Electrical</strong> | Every since I was 2, I was playing with VCR's and televisions. At 5, I was electricuted for the first time when I stuck my hand in a wall outlet. I have been getting electricuted ever since. I can now wire houses, complex circuits, vehicles and now even renewalable sources such as solar and wind power.
						</p>
					</li>
					<li>
						<p>
							<strong>Efficiency</strong> | I spend a great deal of effort making the things in my life more efficient. Fuel saving mods, optimal setups for work spaces, even file structure organization. Anything to improve time lost or money lost on a given task. 
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<% include partials/footer.ejs %>