<!-- 
    File name: error.ejs
    Author: Matthew Walichnowsky
    Website name: walichnowsky.com
    File description: This page contains my view elements for my error page.
-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>