<!-- 
    File name: index.ejs
    Author: Matthew Walichnowsky
    Website name: walichnowsky.com
    File description: This page contains my view elements for my home page.
-->

<% include partials/header.ejs %>

  <h1><%= title %></h1>
  <p>Welcome to my Portfolio!</p>
  <p><%= message%></p>

<% include partials/footer.ejs %>