<!-- 
    File name: project.ejs
    Author: Matthew Walichnowsky
    Website name: walichnowsky.com
    File description: This page contains my view elements for my project page.
-->

<% include partials/header.ejs %>

<div class="col-lg-12 text-center"> 
	<h3><%= title %></h3>
	<p><%= message %></p>
</div>
<div class="col-lg-2"></div>
<div class="well col-lg-8">
	<div class="col-lg-4">
		<a href="http://ljcustomcontracting.com/" target="_blank">
			<image class="well col-lg-12"src="./images/lj.jpg" />
		</a>
		<p>Project: Website Design</P>
	</div>
	<div class="col-lg-4">
		<a href="http://www.mastertoolandmachine.ca/" target="_blank">
			<image class="well col-lg-12" src="./images/master.jpg" />
		</a>
		<p>Project: Website Design</P>
	</div>
	<div class="col-lg-4">
		<a href="" target="_blank">
			<image class="well col-lg-12" src="./images/trinus.jpg" />
		</a>
		<p>Project: Website Design (Not available for viewing yet)</P>
	</div>
	<div class="col-lg-4">
		<a href="http://jkilla.ca/" target="_blank">
			<image class="well col-lg-12" src="./images/jkilla.jpg" />
		</a>
		<p>Project: Website Design</P>
	</div>
	<div class="col-lg-4">
		<a href="http://www.zenithgroups.com/" target="_blank">
			<image class="well col-lg-12" src="./images/zenith.jpg" />
		</a>
		<p>Project: Website Design</P>
	</div>
	<div class="col-lg-4">
		<a>
			<image class="well col-lg-12" src="./images/tna.jpg" />
		</a>
		<p>Project: Business Card Design</P>
	</div>
	<div class="col-lg-4">
		<a href="http://www.drainrightnow.com/" target="_blank">
			<image class="well col-lg-12" src="./images/drain.jpg" />
		</a>
		<p>Project: Pricing Guide Design and Print</P>
	</div>
	<div class="col-lg-4">
		<a href="http://tmgs.ca/" target="_blank">
			<image class="well col-lg-12" src="./images/you.jpg" />
		</a>
	</div>
	<div class="col-lg-4">
		<a href="http://tmgs.ca/" target="_blank">
			<image class="well col-lg-12" src="./images/you.jpg" />
		</a>
	</div>
</div>
<div class col-lg-12>
	<br />
	<p>                                                                      </p>
</div>


<% include partials/footer.ejs %>